.card{
    width:350px;
    height: 450px;
    margin: 50px auto;
    background-color: bisque;
    padding: 20px;
  }
  .card input{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .card button{
    width: 100%;
    background-color: rgb(204, 121, 13);
    padding: 10px;
    cursor: pointer;
    color: white;
    border: none;
    margin: 10px 0;
  }
  a{
    text-decoration: none;
    color: black;
  }